# Computations are applied
# Column-by-column

In [1]:
from pandas import DataFrame, Series
import numpy as np

In [2]:
index=['a', 'b', 'c', 'd']

s1 = Series({'a':1 ,'b':2, 'c':3, 'd':4})

s2 = Series([-0.9,-1.7,1.1], index=index[1:])

s3 = Series([False, False, False, True], index=index)

d = {'A':s1, 'B':s2 , 'Flags':s3}

In [3]:
df = DataFrame(d, index=index)
df

   A    B  Flags
a  1  NaN  False
b  2 -0.9  False
c  3 -1.7  False
d  4  1.1   True

In [4]:
df.sum()

A        10.0
B        -1.5
Flags     1.0
dtype: float64

In [5]:
df-1

   A    B Flags
a  0  NaN    -1
b  1 -1.9    -1
c  2 -2.7    -1
d  3  0.1     0

In [6]:
np.exp(df['A'])

a     2.718282
b     7.389056
c    20.085537
d    54.598150
Name: A, dtype: float64

# DESCRIPTIVE STATS

In [8]:
df

   A    B  Flags
a  1  NaN  False
b  2 -0.9  False
c  3 -1.7  False
d  4  1.1   True

In [9]:
df.mean()

A        2.50
B       -0.50
Flags    0.25
dtype: float64

In [11]:
df.mean(axis=1)

a    0.500000
b    0.366667
c    0.433333
d    2.033333
dtype: float64

In [13]:
#min/max location (series only)
df['B'].idxmin()

'c'

In [14]:
df.describe()

              A         B
count  4.000000  3.000000
mean   2.500000 -0.500000
std    1.290994  1.442221
min    1.000000 -1.700000
25%    1.750000 -1.300000
50%    2.500000 -0.900000
75%    3.250000  0.100000
max    4.000000  1.100000