In [1]:
from pandas import DataFrame, Series
import numpy as np

In [2]:
index=['a', 'b', 'c', 'd']

s1 = Series({'a':1 ,'b':2, 'c':3, 'd':4})

s2 = Series([-0.9,-1.7,1.1], index=index[1:])

s3 = Series([False, False, False, True], index=index)

d = {'A':s1, 'B':s2 , 'Flags':s3}

In [3]:
df = DataFrame(d, index=index)
df

   A    B  Flags
a  1  NaN  False
b  2 -0.9  False
c  3 -1.7  False
d  4  1.1   True

# Group data by one columnâ€™s value

In [4]:
gb = df.groupby('Flags')

# gb is a groupby object

In [5]:
gb.groups

{False: Index(['a', 'b', 'c'], dtype='object'),
 True: Index(['d'], dtype='object')}

In [6]:
# gb = iterator of tuples with
# group name and sub part of df

In [7]:
for value, subdf in gb:
    print (value)
    print (subdf)

False
   A    B  Flags
a  1  NaN  False
b  2 -0.9  False
c  3 -1.7  False
True
   A    B  Flags
d  4  1.1   True

# APPLY WITH aggregate() or agg()

In [8]:
gb.sum()

       A    B
Flags
False  6 -2.6
True   4  1.1

In [10]:
# More flexible but slower
summed = gb.aggregate(np.sum)
summed

       A    B
Flags
False  6 -2.6
True   4  1.1

In [11]:
# Given a list or dict
gb.agg([np.mean, np.std])

         A         B
      mean  std mean       std
Flags
False    2  1.0 -1.3  0.565685
True     4  NaN  1.1       NaN

In [12]:
gb.agg({'A':'sum', 'B':'std'})

              B  A
Flags
False  0.565685  6
True        NaN  4