# ACCESS ELEMENTS

In [1]:
from pandas import Series, DataFrame

In [2]:
index=['a', 'b', 'c', 'd']

s1 = Series({'a':0, 'b':1, 'c':2, 'd':3})

s2=Series([-0.9, -1.7, 1.1], index=index[1:])

d = {'A':s1, 'B':s2}

In [3]:
df = DataFrame(d)
df.head()

   A    B
a  0  NaN
b  1 -0.9
c  2 -1.7
d  3  1.1

In [4]:
# 1 (or more) column accessed like a dict..
df['A']

a    0
b    1
c    2
d    3
Name: A, dtype: int64

In [5]:
# or like an object
series2 = df.B
#Access all columns for 1 index
df.loc['c']

A    2.0
B   -1.7
Name: c, dtype: float64

In [6]:
# or 1 element of the table
df.loc['c','B']

-1.7

# SLICING ELEMENTS OUT
Form df.loc[ row lower: row upper : step,
           col lower : col upper : step]

In [8]:
sub_df = df.loc['c':, 'A':'B']

In [9]:
# Incomplete slicing assumes all
# elements in other dimesions
df.loc['c':]

   A    B
c  2 -1.7
d  3  1.1

# MIXED INDEXING
    Mixed indexing using .ix:

In [13]:
sub_df = df.ix[2,'B']
sub_df

-1.7