In [1]:
from pandas import DataFrame , merge

In [2]:
customers = DataFrame({'id': range(3), 'name': ['john', 'alex', 'lucy']})
orders = DataFrame({'id': [1, 0, 1, 2], 'order': ['pasta', 'salad', 'coke', 'fries']})

In [3]:
print(customers)

   id  name
0   0  john
1   1  alex
2   2  lucy

In [4]:
print(orders)

   id  order
0   1  pasta
1   0  salad
2   1   coke
3   2  fries

In [5]:
merge(customers, orders, on='id')

   id  name  order
0   0  john  salad
1   1  alex  pasta
2   1  alex   coke
3   2  lucy  fries

In [6]:
orders = orders.append({'id': 3, 'order': 'pasta'}, ignore_index=True)
print(orders)

   id  order
0   1  pasta
1   0  salad
2   1   coke
3   2  fries
4   3  pasta

In [7]:
merge(customers, orders, on='id')

   id  name  order
0   0  john  salad
1   1  alex  pasta
2   1  alex   coke
3   2  lucy  fries

In [8]:
merge(customers, orders, on='id', how='outer')

   id  name  order
0   0  john  salad
1   1  alex  pasta
2   1  alex   coke
3   2  lucy  fries
4   3   NaN  pasta