# RE-INDEXING DATAFRAMES

In [1]:
from pandas import Series, DataFrame

In [2]:
index=['a', 'b', 'c', 'd']
s1 = Series({'a':0, 'b':1, 'c':2, 'd':3})
s2=Series([-0.9, -1.7, 1.1], index=index[1:])
d = {'A':s1, 'B':s2}
df = DataFrame(d)
df.head()

   A    B
a  0  NaN
b  1 -0.9
c  2 -1.7
d  3  1.1

In [3]:
df.reindex(['c','a','b'])

   A    B
c  2 -1.7
a  0  NaN
b  1 -0.9

In [4]:
#sort a DF by a (list of) column (s)
df.sort_values('B')

   A    B
c  2 -1.7
b  1 -0.9
d  3  1.1
a  0  NaN

# INDEX TO/FROM A COLUMN

In [5]:
# Set dataframe column as index
df2 = df.set_index('A')
df2

     B
A
0  NaN
1 -0.9
2 -1.7
3  1.1

In [6]:
# Opposite operation
df2.reset_index()

   A    B
0  0  NaN
1  1 -0.9
2  2 -1.7
3  3  1.1