In [1]:
import pandas as pd

In [3]:
data = pd.read_table('data/Historical_data.csv', sep=',' , header=0 , na_values=['-'], parse_dates=True)

In [4]:
data.head()

       date        GOOG       MSFT         PG        XOM        AAPL
0  1/4/2017  905.960022  68.459999  87.330002  81.650002  143.649994
1  1/5/2017  964.859985  69.839996  88.089996  80.500000  152.759995
2  1/6/2017  908.729980  68.930000  87.150002  80.730003  144.020004
3  1/7/2017  930.500000  72.699997  90.820000  80.040001  148.729996
4  1/8/2017  939.330017  74.769997  92.269997  76.330002  164.000000