# TIME ALIGNMENT

In [1]:
from pandas import date_range
from pandas.tseries import offsets
from pandas import DataFrame
from numpy.random import rand

In [2]:
# Data alignment based on time is one
# of Pandaâ€™s most celebrated features
daily = date_range('2000-01-01', freq='D', periods=5)
df = DataFrame(rand(5), index=daily, columns=['A'])
df

                   A
2000-01-01  0.401205
2000-01-02  0.265416
2000-01-03  0.065954
2000-01-04  0.201372
2000-01-05  0.640020

In [3]:
bidaily = date_range('2000-01-01',freq='2D', periods=3)
df2 = DataFrame(rand(3),index=bidaily, columns=['B'])
df2

                   B
2000-01-01  0.943827
2000-01-03  0.374362
2000-01-05  0.564318

# Concat 2 DataFrames

In [4]:
from pandas import concat
concat([df, df2], axis=1)

                   A         B
2000-01-01  0.401205  0.943827
2000-01-02  0.265416       NaN
2000-01-03  0.065954  0.374362
2000-01-04  0.201372       NaN
2000-01-05  0.640020  0.564318