In [1]:
import pandas as pd

In [2]:
aapl = pd.read_table('AAPL_2017.csv',sep=',')

In [3]:
aapl.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,115.800003,116.330002,114.760002,116.150002,113.847588,28781900
1,2017-01-04,115.849998,116.510002,115.750000,116.019997,113.720161,21118100
2,2017-01-05,115.919998,116.860001,115.809998,116.610001,114.298462,22193600
3,2017-01-06,116.779999,118.160004,116.470001,117.910004,115.572708,31751900
4,2017-01-09,117.949997,119.430000,117.940002,118.989998,116.631294,33561900

1. Print the data from the last 4 weeks (see the .last method)
2. Extract the adjusted close column (“Adj Close”),
resample the full data to a monthly period. Do
this 3 times, using the min, max, and mean of the
resampling window.